@use "tailwindcss";

:root {
  --primary: black;
  --border: #a7a7a7;
}

@theme {
  --color-primary: var(--primary);
  --color-border: var(--border);
}

@layer base {
  body {
    @apply bg-primary/10;
  }
}
